@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/varibles" as *;

.upload-container {
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: 1px solid $mercuryDivider;

    &__title {
        @include pageHeaderMobile();
    }

    &__subtitle {
        color: $silverSecTxt;
    }
    @include desktop {

        padding-left: 8rem;

    }

    &__player {
        background-image: url(../../assets/Images/Upload-video-preview.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px;
        width: 100%;
        height: 9.6rem;
        margin-bottom: 1rem;

        @include tablet {

            background-size: contain;
            width: calc(0.50*100vw);
            height: 15rem;

        }

        @include desktop {

            width: 28rem;

        }
    }

    &__labels {
        color: $silverSecTxt;
    }

    &__form {
        @include desktop {

            width: 33rem;

        }
    }

    &__input-field {
        background-color: $alabasterBackg ;
        height: 48px;
        width: 100%;
        border-radius: 4px;
        border: 2px solid $mercuryDivider;
        margin-bottom: 0.8rem;

        &--description {
            height: 100px;
        }
    }

    &__buttons {
        @include tablet {
            display: flex;
            margin-left: 20rem;


        }
    }

    &__button-publish {
        height: 48px;
        border-radius: 4px;
        border-style: none;
        background-color: $brainflixBlue ;
        width: 100%;
        color: $whiteBackgTextC;
        background-image: url(../../assets/Icons/upload.svg);
        background-repeat: no-repeat;
        background-position: 2%;

        @include tablet {
            width: 0%;
            visibility: hidden;

        }
    }

    &__button-hiden {

        visibility: hidden;

        @include tablet {
            visibility: visible;
            height: 48px;
            border-radius: 4px;
            border-style: none;
            background-color: $brainflixBlue ;
            width: 13rem;
            color: $whiteBackgTextC;
            background-image: url(../../assets/Icons/upload.svg);
            background-repeat: no-repeat;
            background-position: 2%;

        }
    }

    &__button-cancel {
        color: $brainflixBlue ;
        width: 100%;

        border-style: none;
        background-color: $whiteBackgTextC;
        margin-top: 1rem;
        margin-bottom: 2rem;

        @include tablet {
            width: 13rem;


        }
    }

    &__content {
        @include desktop {

            display: flex;

            width: 100%;
           
        }
    }

    &__thumbnail {
        @include desktop {

            width: 30rem;
            height: 15rem;
            position: relative;
            bottom: 0.8rem;
        }
    }
}