# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# style-components
src/components/CommetsList/CommentsList.css
src/components/CommetsList/CommentsList.css.map
src/components/CommetsList/Comments/comments.css.map
src/components/CommetsList/Comments/comments.css
src/components/Form/Form.css
src/components/Form/Form.css.map
src/components/Header/Header.css
src/components/Header/Header.css.map
src/components/Header/UpLoadButton/UpLoadButton.css
src/components/Header/UpLoadButton/UpLoadButton.css.map
src/components/Header/SearchBar/Searchbar.css.map
src/components/Header/SearchBar/Searchbar.css
src/components/Header/Logo/Logo.css
src/components/Header/Logo/Logo.css.map
src/components/Player/player.css
src/components/Player/player.css.map
src/components/VideoDescription/VideoDescription.css
src/components/VideoDescription/VideoDescription.css.map
src/components/VideoList/VideoList.css
src/components/VideoList/VideoList.css.map
src/Pages/HomePage/HomePage.css.map
src/Pages/HomePage/HomePage.css

# style-pages
src/App.css.map
src/App.css
src/Pages/HomePage/HomePage.css
src/Pages/HomePage/HomePage.css.map
src/Pages/UpLoadPage/UpLoadPage.css.map
src/Pages/UpLoadPage/UpLoadPage.css
