# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#style
src/App.css.map
src/App.css
src/components/Header/Header.css.map
src/components/Header/Header.css
src/components/Header/UpLoadButton/UpLoadButton.css
src/components/Header/UpLoadButton/UpLoadButton.css.map
src/components/Header/SearchBar/Searchbar.css.map
src/components/Header/SearchBar/Searchbar.css
src/components/Header/Logo/Logo.css.map
src/components/Header/Logo/Logo.css
src/components/VideoSection/VideoDescription/VideoDescription.css
src/components/VideoSection/VideoSection.css
src/index.css
src/components/VideoSection/VideoDescription/VideoDescription.css.map
src/components/VideoSection/VideoSection.css.map
src/components/VideoSection/Player/player.css.map
src/components/VideoSection/Player/player.css
src/components/VideoList/VIdeoListJsx/VideoListJsx.css
src/components/VideoList/VIdeoListJsx/VideoListJsx.css.map
src/components/VideoList/VideoList.css
src/components/VideoList/VideoList.css.map
src/components/VideoSection/VideoDescription/CommetsList/CommentsList.css.map
src/components/VideoSection/VideoDescription/CommetsList/CommentsList.css
src/components/VideoSection/VideoDescription/CommetsList/comments/comments.css.map
src/components/VideoSection/VideoDescription/CommentsForm/CommentsForm.css
src/components/VideoSection/VideoDescription/CommetsList/comments/comments.css
src/components/VideoSection/VideoDescription/CommentsForm/CommentsForm.css.map
src/components/VideoSection/VideoDescription/CommentsForm/CommentsForm.css
src/components/VideoSection/VideoDescription/CommentsForm/CommentsForm.css.map