//primary
$brainflixBlue: #0095FF;
$brainflixBlack: #323232;
$silverSecTxt: #AFAFAF;
$whiteBackgTextC: White;

//secondary

$darkBlack: #000000;
$darkBlue: #0065AD;
$mercuryDivider: #E1E1E1;
$alabasterBackg: #FAFAFA;



$below-mobile-breakpoint:767px;
$tablet-breakpoint: 768px;
$below-tablet-breakpoint: 1279px;
$desktop-breakpoint: 1280px;