@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/varibles' as *;

.player{
    position: relative;
    padding-bottom: 56.26%;
    display: flex;
    margin-bottom: 1.5rem;
 
    &__video {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color:$brainflixBlack ;
      
      
    }
    @include  desktop {

      margin-bottom: 0%;
       
    }
    &__play{
      color:white;

    }
}