@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/varibles" as *;

.body-section {

    &__descritiption-form {
        padding-left: 1rem;
        padding-right: 1rem;

        @include tablet {
            padding-left: 2.5rem;
            padding-right: 2.5rem;

        }

        @include desktop {
            margin-bottom: 2.5rem;
            //padding-right: 0%;
            margin-left: 5rem;
            padding-right: 0%;
        }


    }

    &__subtitle {
        color: $darkBlack ;
    }
}