@use "./styles/partials/mixin" as *;
body{
  padding-left: 1rem;
  padding-right: 1rem;
  @include bodyMobile();
}

/*

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/